@model IEnumerable<WebCinema.Models.Movie>
@{
    ViewData["Title"] = "MovieDeltails";
    var movie = Model.FirstOrDefault(); // Lấy thông tin của phim đầu tiên trong danh sách
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<body>
    <!--Body begin-->
    <link href="~/css/moviedetails.css" rel="stylesheet" />
    <div class="Title-span shar" style="font-weight: bold">
        <a href="/">
            <span>Trang Chủ</span>

        </a>
        >
        <label>
            <span id="Movie.cshtml">Phim</span>
            <span id="sublink"></span>
        </label>
        >
    </div>

    @if (movie != null)
    {
        <div class="banner">
            <span></span>
        </div>
        <div class="movie-detail-wapper">
            <div class="contents-page">
                <div class="dt-contents">
                    <div class="dt-left clearfix">
                        <div class="img-content">
                            <div class="box">
                                <div class="box-left">
                                    <p class="icon-detail-yell">
                                        Thời lượng: <span>
                                            @movie.MovieLength
                                        </span>
                                    </p>
                                    <p class="icon-detail-yell-2">
                                        Khởi chiếu: <span>
                                            @movie.ReleaseDate
                                        </span>
                                    </p>
                                </div>
                                <div class="box-right">
                                    <p class="icon-detail-yell-1">
                                        Thể loại: <span>
                                            @movie.Genre.GenreName
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="box2">
                                <span>@movie.Description</span>
                            </div>
                            <div class="clearfix"></div>
                            <p class="p-bold">
                                Ngôn ngữ: <span>
                                    Phụ đề Tiếng Việt
                                </span>
                            </p>
                            <!-- <p class="p-bold">Phát hành: <span>Galaxy Distribution </span></p> -->
                            <div class="clearfix"></div>
                            <div class="dt-film-content scroll-detail clearfix" style="overflow: hidden; padding: 0px; width: 450px;">
                                <div class="jspContainer" style="width: 450px; height: 140px;">
                                    <div class="jspPane" style="padding: 0px; top: 0px; left: 0px; width: 450px;">
                                        <p>
                                        </p><p><span>@movie.Description</span></p><p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="dt-xh">
                                <div class="addthis_sharing_toolbox"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Noi dung Phim -->
                    <div class="dt-right clearfix">
                        <!-- <div class="vien-dt"></div> -->
                        <div class="image">
                            <a href="#">
                                <img src="https://cms.megagscinemas.vn//media/77255/406x600-18x2.jpg?width=720&amp;height=405" alt="">
                            </a><a class="play-icon product-zoom open-popup-youtube" data-youtube-id="YjNWFVvUhwU" title="" href="javascript:void(0)"></a>
                        </div>
                        <div class="dt-2d clearfix">
                            <div class="dt-group"><div class="dt-xd">2D</div><div class="dt-cus">digital</div></div><div class="dt-group"><div class="dt-g">T13</div></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }
</body>