@model IEnumerable<WebCinema.Models.Movie>
@{
    ViewData["Title"] = "LichChieu";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    //DateTime selectedDate = ViewBag.SelectedDate != null ? (DateTime)ViewBag.SelectedDate : DateTime.Now;
    //DateTime selectedDate = ViewBag.SelectedDate;
  //  DateTime selectedDate = DateTime.Now;

}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<body>
    <!--Body begin-->
    <link href="~/css/showtimes.css" rel="stylesheet" />

    <div class="Title-span shar" style="font-weight: bold">
        <a href="/">
            <span>Trang Chủ</span>

        </a>
        >
        <label>
            <span id="ShowTimes.cshtml">Lịch Chiếu</span>
            <span id="sublink"></span>
        </label>
    </div>
    <div class="banner">
        <span>Lịch Chiếu</span>
    </div>

    <!--Combo box-->
    <div class="box-selected">



        <li class="nav-item">
            @for (int i = 0; i < 5; i++)
            {
                <a class="nav-link active show" id="pills-popular-tab-0" data-toggle="pill" href="#pills-popular-0" role="tab" aria-controls="pills-popular-0" aria-selected="true">
                    <label for="dateSelect">NGÀY CHIẾU</label>

                    @DateTime.Today.AddDays(i).ToShortDateString()
                    <div class="product-list"></div>
                </a>
            }
        </li>
    </div>
        <div class="product-list">
            <!--Add Film-->
            @foreach (var movie in Model)
            {
                <div class="list-items">

                    <div class="item-left">
                        <a href="/MovieDetails/MovieDetails/?movieId=@movie.MovieId">
                            <h4>@movie.MovieName</h4>
                            <p>
                                <td>
                                    @if (!string.IsNullOrEmpty(movie.Poster))
                                    {

                                        var imagePath = Url.Content(movie.Poster); // Use Url.Content
                                        <a href="@movie.Trailer" class="trailer-link">
                                            <img src="@imagePath" alt="Movie Poster" style="max-width: 200px;" />
                                        </a>
                                    }
                                </td>
                            </p>
                        </a>
                    </div>

                    <div class="item-right">
                        <div class="span_time">
                            <span>
                                <i class="fas fa-clock"></i><span>Thời lượng:</span>@movie.MovieLength
                            </span>
                            <span>
                                <i class="fas fa-tags"></i><span>Thể loại:</span>@movie.Genre.GenreName
                            </span>
                            <span>
                                <i class="fas fa-calendar"></i><span>Khởi chiếu:</span>@movie.ReleaseDate
                            </span>
                        </div>
                        <div class="group_select_showtime">
                            <div class="showTimeCustom ">
                                @* <span class="cinema-label">Rạp Cao Thắng</span> *@
                                <div class="groupABC">
                                    <p>@movie.Description</p>
                                    <div class="type_movie">
                                        <a class="active">
                                            <span class="ganre">2D</span>
                                            <span class="viet_sub">Phụ đề / sub</span>
                                        </a>
                                    </div>

                                    <div class="showtime-buttons">
                                        @foreach (var showtime in movie.Showtimes.Where(s => s.MovieId == movie.MovieId && s.Movie.MovieName == movie.MovieName @* && s.ShowtimeDate.Date == selectedDate.Date *@))
                                        {
                                            <form asp-action="SelectShowtime" method="post">
                                                <input type="hidden" name="movieId" value="@showtime.MovieId" />
                                                <input type="hidden" name="showtimeId" value="@showtime.ShowId" />
                                                <button type="submit"> @showtime.Screentime.ScreenTime </button>
                                            </form>
                                        }
                                    </div>
                                </div>
                                <div class="notification">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>


   
  

</body>